<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ROOT_FILE" class="ch.qos.logback.core.FileAppender">
        <file>root.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="davenkin.parent.child1">
        <level value="DEBUG"/>
    </logger>

    <appender name="PERFORMANCE_LOG" class="ch.qos.logback.core.FileAppender">
        <file>performance.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="performance-logger" level="DEBUG" additivity="false">
        <appender-ref ref="PERFORMANCE_LOG"/>
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ROOT_FILE"/>
    </root>
</configuration>